body{
    background-color: rgba(216, 162, 162, 0.443);
}
section{
    margin: 20px auto;
    width: 90%;
    align-content: center;
    background-color: rgb(194, 224, 110);
    
}
#title{
    text-align: center;
    padding: 20px 0;
}
.qport{
    padding: 10px;
}

#ques{
    padding: 15px 35px;
}
.opt{
    padding: 10px;
    width: 100px;
    margin:10px 20px;
    color: rgb(105, 68, 68);
    background-color: rgb(233, 210, 183);
    font-size: 16px;
    font-weight: 500;
}
#res{
    margin:50px auto;
    width: 40vw;
    padding: 20px;
    font-size: 25px;
    background-color: rgb(193, 193, 236);
}